<div class="items-center h-100vh">
  <div class="outline h3">
    <nav class="bt bb tc mw7 center mt4 w-100">

      {{#link-to "index" class="f6 f5-l link bg-animate black-80 hover-bg-lightest-blue dib pa3 ph4-l"}} Home {{/link-to}}

      {{#link-to "list" class="f6 f5-l link bg-animate black-80 hover-bg-lightest-blue dib pa3 ph4-l"}} Women {{/link-to}}

    </nav>
  </div>
  {{! folllowing is the main page}} 
  {{outlet}}
</div>
